.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.nav-header {
  border: 2px solid red;
  display: flex;
  list-style-type: none;
  padding: 10px;
  background-color: rgb(54, 55, 67);
  color: aliceblue;
}

.nav-header li {
  margin: 5px;
}